body {
  background-color: lightgray;
  margin: 0;
  padding: 0;
}

header {
  background-color: dodgerblue;
  color: white;
  text-align: center;
  padding: 2rem;
}

nav {
  background-color: darkblue;

  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 1rem;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}
